@font-face {
  font-family: AgencyFB;
  src: url(../fonts/agency-fb.ttf);
}
body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #d4015e;
}

hr.light {
  border-color: #fff;
}

a {
  color: #d4015e;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: #d3015e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.bg-primary {
  background-color: #d4015e !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.fullscreen-spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  background: #212529;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
.fullscreen-spinner img {
  height: 200px;
  margin-top: 30vh;
}

.modal-dialog {
  max-width: 900px;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #d4015e;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #d3015e;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #d4015e;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #d4015e !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #d4015e;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #d3015e;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #d4015e;
  }
}

.landing {
  height: 100vh;
  padding-bottom: calc(10rem - 56px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/1500px.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 600px) {
  .landing {
    height: auto;
    background-position: right;
  }
}
.landing .landing-wrapper {
  display: flex;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  justify-content: flex-end;
  align-items: center;
}
.landing .image-container {
  align-self: flex-end;
  opacity: 0.7;
}
.landing .image-container img {
  max-height: 92vh;
}
.landing .landing-container {
  color: #fff;
  min-width: 600px;
  text-align: center;
  margin-bottom: 6%;
  margin-right: 40px;
}
@media (max-width: 992px) {
  .landing .landing-container {
    min-width: 100%;
    padding: 0 20px;
    margin-top: 10vh;
    margin-right: 0px;
  }
}
.landing .landing-container h1 {
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
@media (max-width: 992px) {
  .landing .landing-container h1 {
    font-size: 2.2rem;
  }
}
.landing .supporting-text {
  font-size: 1.3rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.landing .supporting-text p {
  max-width: 700px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  opacity: 0.9;
}
.landing .supporting-text span:nth-of-type(1) {
  font-family: AgencyFB;
  letter-spacing: 6px;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.1;
}
@media (max-width: 660px) {
  .landing .supporting-text span:nth-of-type(1) {
    font-size: 3rem;
  }
}
@media (max-width: 520px) {
  .landing .supporting-text span:nth-of-type(1) {
    font-size: 2.4rem;
  }
}
@media (max-width: 400px) {
  .landing .supporting-text span:nth-of-type(1) {
    font-size: 1.8rem;
  }
}
.landing .supporting-text span:nth-of-type(2) {
  font-style: italic;
  max-width: 500px;
  margin-bottom: 20px;
  opacity: 0.8;
  line-height: 1.2;
  font-size: 1.2rem;
}
.landing .supporting-text span {
  opacity: 0.85;
  font-family: "Lato", sans-serif;
  margin: auto;
}
.landing .supporting-text a {
  font-weight: 400;
  border-radius: 10px;
  padding: 10px 25px;
}
.landing hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-type > .txt {
  border-right: 0.3rem solid rgba(34, 34, 34, 0.95);
  animation: blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(34, 34, 34, 0.95);
  }
  to {
    border-right-color: transparent;
  }
}
#lead-magnet {
  background: #fff;
  color: #333;
  padding: 70px 0 0px;
}
@media (max-width: 992px) {
  #lead-magnet {
    padding: 70px 0;
  }
}
#lead-magnet .container {
  max-width: 1200px;
}
#lead-magnet .row {
  justify-content: center;
}
#lead-magnet .col-sm-7 h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 900px) {
  #lead-magnet .col-sm-7 h1 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  #lead-magnet .col-sm-7 h1 {
    font-size: 2rem;
  }
}
#lead-magnet .col-sm-7 p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 992px) {
  #lead-magnet .col-sm-7 p {
    font-size: 1.1rem;
  }
}
@media (max-width: 500px) {
  #lead-magnet .col-sm-7 p {
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  #lead-magnet .col-sm-7 {
    flex: 0 0 90%;
    max-width: 90%;
  }
}
#lead-magnet .book-image img {
  display: block;
  margin: auto;
  width: 100%;
}
@media (max-width: 900px) {
  #lead-magnet .book-image {
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: 20px;
  }
}
@media (max-width: 650px) {
  #lead-magnet .book-image {
    flex: 0 0 60%;
    max-width: 60%;
  }
}
#lead-magnet .features {
  display: flex;
}
#lead-magnet .features img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
@media (max-width: 992px) {
  #lead-magnet .features img {
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  #lead-magnet .features img {
    margin-top: 5px;
  }
}
#lead-magnet .features span {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  #lead-magnet .features span {
    font-size: 1.2rem;
  }
}
#lead-magnet form {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  #lead-magnet form {
    flex-direction: column;
  }
}
#lead-magnet form #email,
#lead-magnet form #submit {
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 15px;
}
#lead-magnet form #email {
  width: 70%;
  font-weight: 500;
  font-size: 1.2rem;
}
@media (max-width: 1200px) {
  #lead-magnet form #email {
    width: 75%;
  }
}
@media (max-width: 992px) {
  #lead-magnet form #email {
    width: 90%;
    margin-bottom: 10px;
  }
}
#lead-magnet form #submit {
  width: 28%;
  background: #d4015e;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}
@media (max-width: 1200px) {
  #lead-magnet form #submit {
    width: 23%;
  }
}
@media (max-width: 992px) {
  #lead-magnet form #submit {
    width: 90%;
  }
}
#lead-magnet #mc_embed_signup_scroll {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#lead-magnet #mc_embed_signup_scroll label {
  font-size: 1.2rem;
}
#lead-magnet #mc_embed_signup_scroll #mce-EMAIL {
  font-weight: 500;
  font-size: 1.2rem;
}
@media (max-width: 1200px) {
  #lead-magnet #mc_embed_signup_scroll #mce-EMAIL {
    width: 75%;
  }
}
@media (max-width: 992px) {
  #lead-magnet #mc_embed_signup_scroll #mce-EMAIL {
    width: 90%;
    margin-bottom: 10px;
  }
}
#lead-magnet #mc_embed_signup_scroll #mce-EMAIL,
#lead-magnet #mc_embed_signup_scroll #mce-FNAME,
#lead-magnet #mc_embed_signup_scroll #mce-LNAME,
#lead-magnet #mc_embed_signup_scroll #mc-embedded-subscribe {
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
#lead-magnet #mc_embed_signup_scroll #mc-embedded-subscribe {
  width: 100%;
  background: #d4015e;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.modal-body {
  line-height: 2;
  padding-bottom: 0;
}
.modal-body img {
  float: right;
  max-height: 700px;
}

.service-box {
  max-width: 400px;
  margin: auto;
}

#services {
  padding: 50px;
  background: #d4015e;
  color: #fff;
}
#services .text-muted {
  color: #fff !important;
  opacity: 0.8;
}
#services i {
  color: #fff;
}
#services hr {
  border-color: #fff;
}
#services .text-center {
  padding: 0 !important;
  margin: auto;
}
#services .row {
  justify-content: center;
}
#services .row .col-lg-3 {
  flex: 1 1 20%;
}
@media (max-width: 992px) {
  #services .row .col-lg-3 {
    flex: 0 0 100%;
  }
}
@media (min-width: 992px) {
  #services .col-lg-3 {
    flex: 0 0 20%;
  }
  #services .col-lg-3:nth-of-type(2) {
    margin-left: 40px;
  }
}

.featured-on {
  margin: 50px 0;
  font-size: 3rem;
}

#portfolio .btn {
  margin: 50px auto;
  text-align: center;
  display: block;
  width: 150px;
}

.featured-on-close {
  background: none;
  border: none;
  color: red;
  font-size: 3rem;
  right: 0;
  z-index: 10000 !important;
  cursor: pointer;
  position: sticky;
  top: 0;
  display: inline !important;
  max-width: 30px;
}

#featured-on-content {
  background: none;
  border: none;
}
@media (max-width: 600px) {
  #featured-on-content {
    margin-top: 10%;
  }
}

.portfolio-box {
  position: relative;
  display: block;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(212, 1, 94, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.contact-icons {
  justify-content: center;
}

#contact {
  padding: 50px;
}

.about-section {
  color: #222;
  line-height: 2;
  padding: 30px 50px 0;
}
.about-section .my-story-container {
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 1024px;
  margin: auto;
  align-items: center;
}
.about-section .my-story-container h1 {
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  max-width: 500px;
}
@media (max-width: 860px) {
  .about-section .my-story-container {
    flex-direction: column;
  }
}
.about-section .my-story-container p {
  max-width: 500px;
}
.about-section .btn {
  background: #d4015e;
  color: white;
}
.about-section img {
  max-height: 500px;
  margin-right: auto;
  display: block;
  margin-left: 5px;
}
@media (max-width: 992px) {
  .about-section img {
    display: block;
    margin: 30px auto 0;
  }
}

.icons {
  display: flex;
  max-width: 1140px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.icons .icon {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}
@media (max-width: 850px) {
  .icons .icon {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .icons .icon {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.icons .icon img {
  width: 100%;
}

.text-primary {
  color: #d4015e !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #d4015e;
  border-color: #d4015e;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #bb0153 !important;
}
.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

/*# sourceMappingURL=creative.css.map */
