// Styling for the landing
.landing {
  height: 100vh;
  padding-bottom: calc(10rem - 56px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../img/1500px.jpg');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  @include background-cover;

  @media (max-width: 600px) {
    height: auto;
    background-position: right;
  }

  .landing-wrapper {
    display: flex;
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
  }

  .image-container {
    align-self: flex-end;
    opacity: 0.7;

    img {
      max-height: 92vh;
    }
  }

  .landing-container {
    color: #fff;
    min-width: 600px;
    text-align: center;
    margin-bottom: 10%;
    margin-right: 40px;
    @media (max-width: 992px) {
      min-width: 100%;
      padding: 0 20px;
      margin-top: 10vh;
      margin-right: 0px;
    }

    h1 {
      font-size: 2.5rem;
      font-family: 'Lato', sans-serif;
      font-weight: 900;

      @media (max-width: 992px) {
        font-size: 2.2rem;
      }
    }
  }

  .supporting-text {
    font-size: 1.3rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    span:nth-of-type(1) {
      font-family: AgencyFB;
      letter-spacing: 6px;
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.1;
      @media (max-width: 660px) {
        font-size: 3rem;
      }
      @media (max-width: 520px) {
        font-size: 2.4rem;
      }

      @media (max-width: 400px) {
        font-size: 1.8rem;
      }
    }
    span:nth-of-type(2) {
      font-style: italic;
      max-width: 500px;
      margin-bottom: 20px;
    }
    span {
      opacity: 0.85;
      font-family: 'Lato', sans-serif;
      margin: auto;
      // margin-bottom: 20px;

      span {
        // font-style: italic;
      }
    }

    a {
      font-weight: 400;
    }
  }

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.text-type > .txt {
  border-right: 0.3rem solid rgba(34, 34, 34, 0.95);
  animation: blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(34, 34, 34, 0.95);
  }

  to {
    border-right-color: transparent;
  }
}
