#lead-magnet {
  background: #fff;
  color: #333;
  @media (max-width: 992px) {
    padding: 70px 0;
  }
  .container {
    max-width: 1200px;
  }
  .row {
    justify-content: center;
  }
  .col-sm-8 {
    h1 {
      font-size: 4rem;
      font-weight: 600;
      text-align: center;
      @media (max-width: 992px) {
        font-size: 3rem;
      }
      @media (max-width: 900px) {
        text-align: center;
      }
      @media (max-width: 500px) {
        font-size: 2.2rem;
      }
    }
    p {
      font-size: 1.4rem;
      line-height: 1.6;
      margin-bottom: 20px;
      @media (max-width: 992px) {
        font-size: 1.3rem;
      }
      @media (max-width: 500px) {
        font-size: 1rem;
      }
    }
    @media (max-width: 900px) {
      flex: 0 0 90%;
      max-width: 90%;
    }
  }
  .book-image {
    img {
      display: block;
      margin: auto;
      width: 100%;
      // height: 100%;
    }
    @media (max-width: 900px) {
      flex: 0 0 40%;
      max-width: 40%;
      margin-bottom: 20px;
    }
    @media (max-width: 650px) {
      flex: 0 0 60%;
      max-width: 60%;
    }
  }
  .features {
    display: flex;
    img {
      width: 50px;
      height: 50px;
      margin-right: 15px;

      @media (max-width: 992px) {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      @media (max-width: 500px) {
        width: 25px;
        height: 25px;
        margin-top: 5px;
      }
    }
    span {
      font-size: 1.5rem;
      margin-bottom: 30px;
      @media (max-width: 500px) {
        font-size: 1.2rem;
      }
    }
  }
  form {
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    #email,
    #submit {
      border-radius: 5px;
      border: 1px solid lightgrey;
      padding: 15px;
    }
    #email {
      width: 70%;
      font-weight: 500;
      font-size: 1.2rem;
      @media (max-width: 1200px) {
        width: 75%;
      }
      @media (max-width: 992px) {
        width: 90%;
        margin-bottom: 10px;
      }
    }
    #submit {
      width: 28%;
      background: $primary;
      color: #fff;
      font-weight: 500;
      font-size: 1.2rem;
      cursor: pointer;
      @media (max-width: 1200px) {
        width: 23%;
      }
      @media (max-width: 992px) {
        width: 90%;
      }
    }
  }
  #mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
      font-size: 1.2rem;
    }
    #mce-EMAIL {
      font-weight: 500;
      font-size: 1.2rem;
      @media (max-width: 1200px) {
        width: 75%;
      }
      @media (max-width: 992px) {
        width: 90%;
        margin-bottom: 10px;
      }
    }
    #mce-EMAIL,
    #mce-FNAME,
    #mce-LNAME,
    #mc-embedded-subscribe {
      border-radius: 5px;
      border: 1px solid lightgrey;
      padding: 15px;
      width: 100%;
      margin-bottom: 20px;
      font-size: 1.2rem;
    }
    #mc-embedded-subscribe {
      width: 100%;
      background: $primary;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
