// Styling for the services section
.service-box {
  max-width: 400px;
}

#services {
  padding: 50px;
  background: $primary;
  color: #fff;

  .container {
    max-width: 960px;
  }

  .text-muted {
    color: #fff !important;
    opacity: 0.8;
  }

  i {
    color: #fff;
  }

  hr {
    border-color: #fff;
  }

  .text-center {
    padding: 0 !important;
  }
}